<div class="video">
  <div class="video-wrapper">

    {% if include.post.source == "dailymotion" %}

    <iframe width="480" height="270"
      src="{{ include.post.videourl }}"
      frameborder="0" allow="autoplay" allowfullscreen>
    </iframe>

    {% elsif include.post.source == "youtube" %}

    <iframe width="560" height="349"
      src="{{ include.post.videourl }}"
      frameborder="0" allowfullscreen>
    </iframe>

    {% elsif include.post.source == "facebook" %}

    <iframe width="267" height="789"
      src="{{ include.post.videourl }}"
      frameborder="0" style="border:none;overflow:hidden"
      scrolling="no" allowTransparency="true"
      allow="encrypted-media" allowFullScreen="true">
    </iframe>

    {% endif %}

  </div>
  <h3>{{ include.post.title }}</h3>
  {% for tag in include.post.tags %}
    <a href="{{ site.baseurl }}/tags/{{ tag }}" class="badge badge-pill badge-primary">
      {{ tag }}
    </a>
  {% endfor %}
  <span class="post-date">{{ include.post.date | date_to_string }}</span>
</div>
