<div class="video">
  {% if include.post.source == "dailymotion" %}
    <div class="video-container dailymotion">
      <iframe width="480" height="270"
        src="{{ include.post.videourl }}"
        frameborder="0" allow="autoplay" allowfullscreen>
      </iframe>
    </div>
  {% elsif include.post.source == "youtube" %}
    <div class="video-container youtube">
      <iframe src="{{ include.post.videourl }}"
        frameborder="0" allowfullscreen>
      </iframe>
    </div>
  {% elsif include.post.source == "facebook" %}
    <div class="video-container facebook">
      <iframe width="{{ include.post.width }}" height="{{ include.post.height }}"
        src="{{ include.post.videourl }}"
        frameborder="0" style="border:none;overflow:hidden"
        scrolling="no" allowTransparency="true"
        allow="encrypted-media" allowFullScreen="true">
      </iframe>
    </div>
  {% endif %}

  <h3>{{ include.post.title }}
    {% if include.post.clickable%}
      <small><a href="{{ site.baseurl }}{{ include.post.url }}" class="text-muted">verbatim</a></small>
    {% endif %}
  </h3>

  <div>
    {% for tag in include.post.tags %}
      {% include tag.html name=tag %}
    {% endfor %}
  </div>

  <span class="post-date">{% include date-fr date=include.post.date %}</span>
</div>
