<div class="sidebar">
  <h1><a href="{{ site.baseurl }}/">
    {{ site.title }}
  </a></h1>

  <p class="lead">{{ site.description }}</p>

  <p> <span class="lead">Sujets</span><br>
    {% capture temptags %}
      {% for tag in site.tags %}
        {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
      {% endfor %}
    {% endcapture %}
    {% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
    {% for temptag in sortedtemptags %}
      {% assign tagitems = temptag | split: '#' %}
      {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
      <a href="{{ site.baseurl }}/tags/{{ tagname }}" class="badge badge-pill badge-primary">
        {{ tagname }}
      </a>
    {% endfor %}
  </p>

  {% comment %}
  <ul class="list-group">
    <a href="{{ site.baseurl }}/"
       class="list-group-item list-group-item-action {% if page.url == site.baseurl + "/"  %}active{% endif %}">
      Accueil
    </a>
    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a href="{{ site.baseurl }}{{ node.url }}"
             class="list-group-item list-group-item-action {% if page.url == node.url %}active{% endif %}">
            {{ node.title }}
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  {% endcomment %}

  <p class="small">
    &copy; {{ site.time | date: '%Y' }}. Tous droits réservés.
    <a href="#">Mentions légales</a>
    <a href="#">Autre truc légal</a>
  </p>
</div>
