<div class="sidebar">
  <h1 class="side-title"><a href="{{ site.baseurl }}/">
      Parole<br>
      <span class="text-primary">#Politique</span>
  </a></h1>

  <h2 class="text-muted subtitle">{{ site.description }}</h2>

  <blockquote class="blockquote small-quote">
    <p class="mb-0">L'homme supérieur sait les discours de ses adversaires et
      ses adversaires ne savent pas les siens.
    </p>
    <footer class="blockquote-footer">Henri Boucher,
      <cite title="Les pensées, maximes et réflexions">Les pensées, maximes et
        réflexions
      </cite>
    </footer>
  </blockquote>

  <p><span class="lead">Personnalités</span><br>
    {% for figure in site.data.tags.figures %}
      {% assign tag = figure[0] %}
      {% include tag.html name=tag %}
    {% endfor %}
  </p>

  <p><span class="lead">Partis, groupes, etc.</span><br>
    {% capture temptags %}
      {% for tag in site.tags %}
        {{ tag[1].size | plus: 1000 }}${{ tag[0] }}${{ tag[1].size }}
      {% endfor %}
    {% endcapture %}
    {% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
    {% for temptag in sortedtemptags %}
      {% assign tagitems = temptag | split: '$' %}
      {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
      {% include tag.html name=tagname %}
    {% endfor %}
  </p>

  {% comment %}

  <ul class="list-group">
    <a href="{{ site.baseurl }}/"
       class="list-group-item list-group-item-action {% if page.url == site.baseurl + "/"  %}active{% endif %}">
      Accueil
    </a>
    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a href="{{ site.baseurl }}{{ node.url }}"
             class="list-group-item list-group-item-action {% if page.url == node.url %}active{% endif %}">
            {{ node.title }}
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  {% endcomment %}

  {% include pagination-links.html %}

  <p class="small">
    &copy; {{ site.time | date: '%Y' }}. Tous droits réservés.
    {%- comment -%}
    <a href="#" class="small-link">Mentions légales</a>
    {%- endcomment -%}
  </p>
</div>
