h1.side-title a {
  font-family: monospace;
  font-weight: bold;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

h2.text-muted.subtitle {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

.video {
  width: 100%;
  padding: 1em 0;
  // border-bottom: 1px solid lightgray;
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
}

div.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.small-link {
  display: inline-block;
}
