h1.side-title a {
  font-family: monospace;
  font-weight: bold;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

h2.text-muted.subtitle {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

.video {
  width: 100%;
  padding: 1em 0;
}

.video-container.facebook {
  width: 100%;
}

.video-container.facebook iframe {
  display: block;
  margin: auto;
}

.video-container.youtube,
.video-container.dailymotion {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container.youtube > iframe,
.video-container.dailymotion > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// .video-wrapper iframe.facebook-iframe {
//   position:
//   width: 267px;
//   margin: auto;
//   height: 100%;
// }

// .facebook-container {
//   margin: auto;
// }

.facebook-container iframe {
  margin: auto;
  width: 267px;
}


.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
}

div.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.small-link {
  display: inline-block;
}

.color-sample {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 2px
}
