---
layout: default
---

<h2>
  {% for tag in page.tags %}
    {% include tag.html name=tag %}
  {% endfor %}
</h2>

<h3>{{ page.title }}</h3>

<span class="post-date">{{ page.date | date_to_string }}</span>

<div class="video">
  {% if page.source == "dailymotion" %}

  <div class="video-container dailymotion">
    <iframe width="480" height="270"
      src="{{ page.videourl }}"
      frameborder="0" allow="autoplay" allowfullscreen>
    </iframe>
  </div>

  {% elsif page.source == "youtube" %}

  <div class="video-container youtube">
    <iframe width="560" height="349"
      src="{{ page.videourl }}"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>

  {% elsif page.source == "facebook" %}

  <div class="video-container facebook">
    <iframe width="{{ page.width }}" height="{{ page.height }}"
      src="{{ page.videourl }}"
      frameborder="0" style="border:none;overflow:hidden"
      scrolling="no" allowTransparency="true"
      allow="encrypted-media" allowFullScreen="true">
    </iframe>
  </div>

  {% endif %}
</div>

<blockquote class="blockquote">
  {{ content }}
</blockquote>

{% comment %}
<div class="related">
  <h4>Interventions semblables</h4>
  <ul>
    {% for post in site.related_posts limit:3 %}
      <li>
        <h5><a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }} <small>{{ post.date | date_to_string }}</small>
        </a></h5>
      </li>
    {% endfor %}
  </ul>
</div>
{% endcomment %}
